@font-face {
  font-family: 'ZhuZiAYuanJWD';
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

/* div#menus {
  font-family: "ZhuZiAYuanJWD";
} */

h1#site-title {
  /* font-family: "ZhuZiAYuanJWD"; */
  font-size: 3em !important;
}

/* 首页文章顶部标签栏小箭头修复 */
#catalog-list {
  overflow-x: auto
}



/* h1的下面两个是侧边栏按钮的字体和顶部导航栏的字体 */
/* a.article-title,
a.blog-slider__title,
a.categoryBar-list-link,
h1.post-title,
.banner-button-text,
#blog_name #site-name .title {
  font-family: 'ZhuZiAYuanJWD';
} */



/* 外置特效 */

/* 樱花特效 */
#canvas_sakura {
  z-index: 2;
}

/* 页底养鱼 */
#jsi-flying-fish-container {
  width: 100%;
  height: 160px;
  position: absolute;
  bottom: 0rem;
  z-index: 1;
  pointer-events: none;
  line-height: 0;
}


#footer #footer-bar {
  margin-bottom: 3.7rem;
}



/* live 2d */
#live2d-widget {
  bottom: -8px !important;
}

/* ... */


/* 顶部 */

#nav #menus a,
#nav #blog_name a {
  color: var(--anzhiyu-white);
}

#center-console+label:hover i {
  background-color: var(--anzhiyu-white);
}



/* ... */


/* 侧边栏 */

/* 侧边栏标签及标题字体更改及顶部打字特效字体 */
.author-info__name,
#aside-content>.card-widget.card-info #author-info__sayhi,
#page-header #site-subtitle {
  /* font-family: 'ZhuZiAYuanJWD' !important; */
  color: var(--anzhiyu-white);
}

/* 作者页卡片背景 */
#aside-content>.card-widget.card-info {
  background: url(https://cdn.jsdelivr.net/gh/MiNuoMiao/MaoMi@main/img/bg.webp) center / cover no-repeat;
}

#aside-content .card-info #author-info__sayhi:hover {
  /* 作者页卡片顶部文字hover */
  color: var(--anzhiyu-fontcolor) !important;
}


/* ... */




/* 页底 */

/* 页底字体 */
#workboard {
  font-size: 16px;
}

/* ... */



/* 手机 */

/* 手机控制台开启后的背景 */
#sidebar #sidebar-menus.open {
  background: #ffc7cd;
}

[data-theme='dark'] #sidebar #sidebar-menus.open {
  background: #ffe4e600;
}

/* ... */