if theme.preloader.source === 1
  include ./fullpage-loading.pug
  include ./pace.pug
else if theme.preloader.source === 2
  include ./pace.pug
else if theme.preloader.source === 4
  include ./spincat.pug
  include ./pace.pug
else
  include ./spincat.pug
  include ./pace.pug